### **Data Mining Using SQL**

<font color="red">File access required:</font> In Colab this notebook requires first uploading files **Shop.csv** and **Movies.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure these files are in the same workspace as the notebook.

In [2]:
!pip install prettytable==0.7.2
!pip install ipython-sql

Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.12/dist-packages (0.7.2)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.14)

In [3]:
# Set-up
%load_ext sql
%sql sqlite://
import pandas as pd

In [4]:
# Load tables from CSV files
# Shop
with open('Shop.csv') as f: Shop = pd.read_csv(f, index_col=0)
%sql drop table if exists Shop;
%sql --persist Shop
# Movies
with open('Movies.csv') as f: Movies = pd.read_csv(f, index_col=0)
%sql drop table if exists Movies;
%sql --persist Movies

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted movies'

## Shopping dataset - frequent item-sets

In [5]:
%%sql
select * from Shop

 * sqlite://
Done.

[(1, 'milk'),
 (1, 'eggs'),
 (1, 'juice'),
 (2, 'milk'),
 (2, 'juice'),
 (2, 'cookies'),
 (3, 'eggs'),
 (3, 'chips'),
 (4, 'milk'),
 (4, 'eggs'),
 (5, 'milk'),
 (5, 'juice'),
 (5, 'cookies'),
 (5, 'chips')]

### Frequent item-sets of two

#### All pairs of items occurring together

In [6]:
%%sql
select T1.item as item1, T2.item as item2
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item

 * sqlite://
Done.

[('eggs', 'milk'),
 ('eggs', 'juice'),
 ('juice', 'milk'),
 ('juice', 'milk'),
 ('cookies', 'milk'),
 ('cookies', 'juice'),
 ('chips', 'eggs'),
 ('eggs', 'milk'),
 ('juice', 'milk'),
 ('cookies', 'milk'),
 ('cookies', 'juice'),
 ('chips', 'milk'),
 ('chips', 'juice'),
 ('chips', 'cookies')]

#### Now with number of transactions they occur together in

In [7]:
%%sql
select T1.item as item1, T2.item as item2, count()
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item

 * sqlite://
Done.

[('chips', 'cookies', 1),
 ('chips', 'eggs', 1),
 ('chips', 'juice', 1),
 ('chips', 'milk', 1),
 ('cookies', 'juice', 2),
 ('cookies', 'milk', 2),
 ('eggs', 'juice', 1),
 ('eggs', 'milk', 2),
 ('juice', 'milk', 3)]

#### Total number of transactions

In [8]:
%%sql
select count(distinct TID) from Shop

 * sqlite://
Done.

[(5,)]

#### Put it together for frequent item-sets

In [9]:
support = .3
print(support)

0.3

In [10]:
%%sql
select T1.item as item1, T2.item as item2
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support

 * sqlite://
Done.

[('cookies', 'juice'),
 ('cookies', 'milk'),
 ('eggs', 'milk'),
 ('juice', 'milk')]

### Frequent item-sets of three

#### All triples of items occurring together

In [11]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item

 * sqlite://
Done.

[('eggs', 'juice', 'milk'),
 ('cookies', 'juice', 'milk'),
 ('cookies', 'juice', 'milk'),
 ('chips', 'juice', 'milk'),
 ('chips', 'cookies', 'milk'),
 ('chips', 'cookies', 'juice')]

#### Now with number of transactions they occur together in

In [12]:
%%sql
select distinct T1.item as item1, T2.item as item2, T3.item as item3, count()
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item

 * sqlite://
Done.

[('chips', 'cookies', 'juice', 1),
 ('chips', 'cookies', 'milk', 1),
 ('chips', 'juice', 'milk', 1),
 ('cookies', 'juice', 'milk', 2),
 ('eggs', 'juice', 'milk', 1)]

#### Put it together for frequent item-sets

In [13]:
support = .3
print(support)

0.3

In [14]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support

 * sqlite://
Done.

[('cookies', 'juice', 'milk')]

### <font color = 'green'>**Your Turn - Movies dataset frequent item-sets**</font>

In [15]:
%%sql
select * from Movies limit 15

 * sqlite://
Done.

[(145755, 'The Fault in Our Stars'),
 (145755, 'Boyhood'),
 (145755, 'Big Hero 6'),
 (145755, 'The Imitation Game'),
 (145755, 'Inside Out'),
 (117070, 'Inside Out'),
 (239040, 'Inside Out'),
 (177796, 'Gone Girl'),
 (177796, 'Magic Mike XXL'),
 (126875, 'The Imitation Game'),
 (126875, 'Inside Out'),
 (55295, 'The Imitation Game'),
 (55295, 'Inside Out'),
 (92094, 'The Fault in Our Stars'),
 (92094, 'Boyhood')]

In [16]:
%%sql
select count(distinct TID) as numUsers,
       count(distinct item) as numMovies
from Movies

 * sqlite://
Done.

[(1382, 123)]

#### Mine for frequent item-sets of three and four items in the Movies dataset. Find a single support threshold where the number of frequent item-sets of three items is more than 10 but less than 20, and the number of frequent item-sets of four items is more than 0.

In [58]:
support = 0.03
print(support)

0.03

In [59]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, item3, numtrans);
insert into Frequent
select T1.item, T2.item, T3.item, count()
from Movies T1, Movies T2, Movies T3
where T1.TID = T2.TID
and T2.TID = T3.TID
and T1.item < T2.item
and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support;

select count(*) from Frequent;
select * from Frequent

 * sqlite://
Done.
Done.
14 rows affected.
Done.
Done.

[('Big Hero 6', 'Boyhood', 'Gone Girl', 56),
 ('Big Hero 6', 'Boyhood', 'The Imitation Game', 57),
 ('Big Hero 6', 'Fury', 'Gone Girl', 43),
 ('Big Hero 6', 'Fury', 'The Imitation Game', 44),
 ('Big Hero 6', 'Gone Girl', 'Inside Out', 85),
 ('Big Hero 6', 'Gone Girl', 'The Imitation Game', 119),
 ('Big Hero 6', 'Inside Out', 'The Imitation Game', 102),
 ('Boyhood', 'Fury', 'Gone Girl', 43),
 ('Boyhood', 'Fury', 'The Imitation Game', 43),
 ('Boyhood', 'Gone Girl', 'Inside Out', 54),
 ('Boyhood', 'Gone Girl', 'The Imitation Game', 95),
 ('Boyhood', 'Inside Out', 'The Imitation Game', 52),
 ('Fury', 'Gone Girl', 'The Imitation Game', 70),
 ('Gone Girl', 'Inside Out', 'The Imitation Game', 103)]

In [60]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, item3, item4, numtrans);
insert into Frequent
select T1.item, T2.item, T3.item, T4.item, count()
from Movies T1, Movies T2, Movies T3, Movies T4
where T1.TID = T2.TID
and T2.TID = T3.TID
and T3.TID = T4.TID
and T1.item < T2.item
and T2.item < T3.item
and T3.item < T4.item
group by T1.item, T2.item, T3.item, T4.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support;

select count(*) from Frequent;
select * from Frequent

 * sqlite://
Done.
Done.
3 rows affected.
Done.
Done.

[('Big Hero 6', 'Boyhood', 'Gone Girl', 'The Imitation Game', 46),
 ('Big Hero 6', 'Gone Girl', 'Inside Out', 'The Imitation Game', 59),
 ('Boyhood', 'Gone Girl', 'Inside Out', 'The Imitation Game', 42)]

## Shopping dataset - association rules

### Association rules with one item on the left-hand side

In [18]:
support = .5
confidence = .5
print(support, confidence)

0.5 0.5

#### First compute frequent item-sets of one item with specified support, as candidate left-hand sides of assocation rules; include number of transactions

In [19]:
%%sql
select item, count() as numtrans
from Shop
group by item
having 1.0*count() / (select count(distinct TID) from Shop) > :support

 * sqlite://
Done.

[('eggs', 3), ('juice', 3), ('milk', 4)]

#### Do the same query but save the result in a table called "Frequents"

In [20]:
%%sql
drop table if exists Frequent;
create table Frequent(item, numtrans);
insert into Frequent
select item, count()
from Shop
group by item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
3 rows affected.
Done.

[('eggs', 3), ('juice', 3), ('milk', 4)]

#### All pairs with frequent left-hand side, number of transactions for left-hand side, and number of transactions for both

In [21]:
%%sql
select T1.item as LHS, T2.item as RHS, F.numtrans as LHS_count, count() as both
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item != T2.item
group by T1.item, T2.item

 * sqlite://
Done.

[('eggs', 'chips', 3, 1),
 ('eggs', 'juice', 3, 1),
 ('eggs', 'milk', 3, 2),
 ('juice', 'chips', 3, 1),
 ('juice', 'cookies', 3, 2),
 ('juice', 'eggs', 3, 1),
 ('juice', 'milk', 3, 3),
 ('milk', 'chips', 4, 1),
 ('milk', 'cookies', 4, 2),
 ('milk', 'eggs', 4, 2),
 ('milk', 'juice', 4, 3)]

#### Add check for specified confidence to get final result

In [22]:
%%sql
select T1.item as LHS, T2.item as RHS
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item != T2.item
group by T1.item, T2.item
having 1.0*count() / F.numtrans > :confidence

 * sqlite://
Done.

[('eggs', 'milk'), ('juice', 'cookies'), ('juice', 'milk'), ('milk', 'juice')]

### Association rules with two items on the left-hand side

In [23]:
support = .5
confidence = .5
print(support, confidence)

0.5 0.5

#### First compute frequent item-sets of two items with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions

In [24]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, numtrans);
insert into Frequent
select T1.item, T2.item, count()
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
1 rows affected.
Done.

[('juice', 'milk', 3)]

#### All triples with frequent left-hand side, number of transactions for left-hand side, and number of transactions for all three

In [25]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, F.numtrans, count()
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item

 * sqlite://
Done.

[('juice', 'milk', 'chips', 3, 1),
 ('juice', 'milk', 'cookies', 3, 2),
 ('juice', 'milk', 'eggs', 3, 1)]

#### Add check for specified confidence to get final result

In [26]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / F.numtrans > :confidence

 * sqlite://
Done.

[('juice', 'milk', 'cookies')]

## Shopping dataset - association rules with lift instead of confidence

#### Compute overall frequency of each item -- needed for lift calculation

In [27]:
%%sql
select item, 1.0*count() / (select count(distinct TID) from Shop)
from Shop
group by item

 * sqlite://
Done.

[('chips', 0.4),
 ('cookies', 0.4),
 ('eggs', 0.6),
 ('juice', 0.6),
 ('milk', 0.8)]

#### Do the same query but save the result in a table called "ItemFreq"

In [28]:
%%sql
drop table if exists ItemFreq;
create table ItemFreq(item, freq);
insert into ItemFreq
select item, 1.0*count() / (select count(distinct TID) from Shop)
from Shop
group by item;
select * from ItemFreq

 * sqlite://
Done.
Done.
5 rows affected.
Done.

[('chips', 0.4),
 ('cookies', 0.4),
 ('eggs', 0.6),
 ('juice', 0.6),
 ('milk', 0.8)]

### Association rules with one item on the left-hand side

In [29]:
support = .5
print(support)

0.5

#### First compute frequent item-sets of one item with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions.

In [30]:
%%sql
drop table if exists Frequent;
create table Frequent(item, numtrans);
insert into Frequent
select item, count()
from Shop
group by item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
3 rows affected.
Done.

[('eggs', 3), ('juice', 3), ('milk', 4)]

#### All pairs with frequent left-hand side, number of transactions for left-hand side, and number of transactions for both

In [31]:
%%sql
select T1.item as LHS, T2.item as RHS, F.numtrans, count()
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item != T2.item
group by T1.item, T2.item

 * sqlite://
Done.

[('eggs', 'chips', 3, 1),
 ('eggs', 'juice', 3, 1),
 ('eggs', 'milk', 3, 2),
 ('juice', 'chips', 3, 1),
 ('juice', 'cookies', 3, 2),
 ('juice', 'eggs', 3, 1),
 ('juice', 'milk', 3, 3),
 ('milk', 'chips', 4, 1),
 ('milk', 'cookies', 4, 2),
 ('milk', 'eggs', 4, 2),
 ('milk', 'juice', 4, 3)]

#### Add check for lift > 1 to get final result

In [32]:
%%sql
select T1.item as LHS, T2.item as RHS, (1.0*count() / F.numtrans) / I.freq as lift
from Shop T1, Shop T2, Frequent F, ItemFreq I
where T1.item = F.item
and T1.TID = T2.TID
and T2.item = I.item
and T1.item != T2.item
group by T1.item, T2.item
having (1.0*count() / F.numtrans) / I.freq > 1

 * sqlite://
Done.

[('juice', 'cookies', 1.6666666666666665),
 ('juice', 'milk', 1.25),
 ('milk', 'cookies', 1.25),
 ('milk', 'juice', 1.25)]

### Association rules with two items on the left-hand side

In [33]:
support = .5
print(support)

0.5

#### First compute frequent item-sets of two items with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions

In [34]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, numtrans);
insert into Frequent
select T1.item, T2.item, count()
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
1 rows affected.
Done.

[('juice', 'milk', 3)]

#### All triples with frequent left-hand side, number of transactions for left-hand side, and number of transactions for all three

In [35]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, F.numtrans, count()
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item

 * sqlite://
Done.

[('juice', 'milk', 'chips', 3, 1),
 ('juice', 'milk', 'cookies', 3, 2),
 ('juice', 'milk', 'eggs', 3, 1)]

#### Add check for lift > 1 to get final result

In [36]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, (1.0*count() / F.numtrans) / I.freq as lift
from Shop T1, Shop T2, Shop T3, Frequent F, ItemFreq I
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID and T3.item = I.item
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item
having (1.0*count() / F.numtrans) / I.freq > 1

 * sqlite://
Done.

[('juice', 'milk', 'cookies', 1.6666666666666665)]

### <font color = 'green'>**Your Turn - Movies dataset association rules**</font>

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and confidence thresholds (need not be the same) so the number of association rules is more than 10 but less than 20.

In [43]:
support = 0.03
confidence = 0.6
print(support, confidence)

0.03 0.6

In [44]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, item3, numtrans);
insert into Frequent
select T1.item, T2.item, T3.item, count()
from Movies T1, Movies T2, Movies T3
where T1.TID = T2.TID
and T2.TID = T3.TID
and T1.item < T2.item
and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support;

select count(*) from Frequent;
select * from Frequent;

select F.item1, F.item2, F.item3, T4.item as rhs,
       1.0 * count() / F.numtrans as confidence
from Frequent F, Movies T1, Movies T2, Movies T3, Movies T4
where T1.item = F.item1
and T2.item = F.item2
and T3.item = F.item3
and T1.TID = T2.TID
and T2.TID = T3.TID
and T3.TID = T4.TID
and T4.item not in (F.item1, F.item2, F.item3)
group by F.item1, F.item2, F.item3, T4.item
having confidence > :confidence
order by confidence desc;

 * sqlite://
Done.
Done.
14 rows affected.
Done.
Done.
Done.

[('Boyhood', 'Fury', 'Gone Girl', 'The Imitation Game', 0.9069767441860465),
 ('Boyhood', 'Fury', 'The Imitation Game', 'Gone Girl', 0.9069767441860465),
 ('Big Hero 6', 'Fury', 'Gone Girl', 'The Imitation Game', 0.8372093023255814),
 ('Big Hero 6', 'Boyhood', 'Gone Girl', 'The Imitation Game', 0.8214285714285714),
 ('Big Hero 6', 'Fury', 'The Imitation Game', 'Gone Girl', 0.8181818181818182),
 ('Boyhood', 'Inside Out', 'The Imitation Game', 'Gone Girl', 0.8076923076923077),
 ('Big Hero 6', 'Boyhood', 'The Imitation Game', 'Gone Girl', 0.8070175438596491),
 ('Boyhood', 'Gone Girl', 'Inside Out', 'The Imitation Game', 0.7777777777777778),
 ('Big Hero 6', 'Gone Girl', 'Inside Out', 'The Imitation Game', 0.6941176470588235),
 ('Big Hero 6', 'Fury', 'Gone Girl', 'Inside Out', 0.6744186046511628),
 ('Boyhood', 'Inside Out', 'The Imitation Game', 'Big Hero 6', 0.6730769230769231),
 ('Boyhood', 'Fury', 'The Imitation Game', 'Big Hero 6', 0.6511627906976745),
 ('Big Hero 6', 'Fury', 'The Imitation Game', 'Boyhood', 0.6363636363636364),
 ('Big Hero 6', 'Fury', 'The Imitation Game', 'Inside Out', 0.6363636363636364),
 ('Boyhood', 'Gone Girl', 'Inside Out', 'Big Hero 6', 0.6296296296296297),
 ('Big Hero 6', 'Fury', 'Gone Girl', 'Boyhood', 0.627906976744186),
 ('Boyhood', 'Fury', 'Gone Girl', 'Big Hero 6', 0.627906976744186),
 ('Big Hero 6', 'Boyhood', 'The Imitation Game', 'Inside Out', 0.6140350877192983),
 ('Big Hero 6', 'Boyhood', 'Gone Girl', 'Inside Out', 0.6071428571428571)]

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and lift thresholds so the number of association rules is more than 10 but less than 20.

In [61]:
support = 0.03
lift = 32
print(support, lift)

0.03 32

In [63]:
%%sql
drop table if exists ItemFreq;
create table ItemFreq(item, numtrans);
insert into ItemFreq
select item, count(distinct TID)
from Movies
group by item;

select * from ItemFreq;

 * sqlite://
Done.
Done.
123 rows affected.
Done.

[('400 Days', 3),
 ('A Walk in the Woods', 1),
 ('About Alex', 7),
 ('Action Jackson', 1),
 ('American Ultra', 18),
 ('Annie', 6),
 ('Anti-Social', 1),
 ('Appropriate Behaviour', 2),
 ('Ascension', 3),
 ('Aziz Ansari: Live at Madison Square Garden', 1),
 ('Bad Asses on the Bayou', 1),
 ('Bad Country', 1),
 ('Batkid Begins', 1),
 ('Bears', 1),
 ('Beautiful Girl', 1),
 ('Before I Disappear', 7),
 ('Best of Enemies', 3),
 ('Big Eyes', 29),
 ('Big Hero 6', 387),
 ('Blind', 1),
 ('Boyhood', 228),
 ('Break Point', 1),
 ('Breathe', 1),
 ('Butterfly', 1),
 ('Calvary', 36),
 ('Camp Belvidere', 1),
 ('Carmina and Amen (Carmina y amn)', 1),
 ('Catch Hell', 1),
 ('Contracted: Phase II', 1),
 ('Copenhagen', 7),
 ('Court', 1),
 ('Crimes Against Humanity', 2),
 ('Cruel & Unusual', 2),
 ('Daawat-e-Ishq', 1),
 ('Dark Summer', 1),
 ('Deadly Virtues: Love.Honour.Obey.', 1),
 ('Dear White People', 9),
 ('Demonic', 2),
 ('Dum Laga Ke Haisha', 3),
 ('Eat', 1),
 ('Effie Gray', 1),
 ('Entertainment', 1),
 ('Exists', 1),
 ('Exposed', 1),
 ('Faith of Our Fathers', 2),
 ('Far from Men', 1),
 ('Final Girl', 1),
 ('Flowers in the Attic', 1),
 ('Force Majeure (Turist)', 15),
 ('Fury', 138),
 ('Gangster Payday', 1),
 ('Gett: The Trial of Viviane Amsalem', 4),
 ('Gone Girl', 583),
 ('Grace', 3),
 ('Grandma', 1),
 ("I'll See You in My Dreams", 1),
 ('In No Great Hurry: 13 Lessons in Life with Saul Leiter', 1),
 ('In Order of Disappearance (Kraftidioten)', 2),
 ('In the Heart of the Sea', 9),
 ('Inside Out', 450),
 ('Jim Gaffigan: Obsessed', 3),
 ('Justice League: Gods and Monsters', 5),
 ('Laggies', 17),
 ('Leviathan', 23),
 ('Listen Up Philip', 4),
 ('Louis C.K.: Live at The Comedy Store', 90),
 ('Love Me', 1),
 ('Magic Mike XXL', 8),
 ('Magic in the Moonlight', 25),
 ('Man Up', 7),
 ('Merchants of Doubt', 2),
 ('Mr. Peabody & Sherman', 9),
 ('National Gallery', 1),
 ('No No: A Dockumentary', 2),
 ('Outcast', 1),
 ("PAY 2 PLAY: Democracy's High Stakes", 1),
 ('Preggoland', 1),
 ('Rage', 2),
 ('Raised by Wolves', 1),
 ('Samba', 4),
 ('Scusate se esisto!', 1),
 ('Self/less', 15),
 ("She's Funny That Way", 5),
 ('Sinister 2', 1),
 ('Sisters', 10),
 ('Skin Trade', 1),
 ('Stage Fright', 2),
 ('Steve Jobs: The Man in the Machine', 7),
 ('Strangerland', 3),
 ('Tanu Weds Manu Returns', 1),
 ('Teenage Mutant Ninja Turtles', 39),
 ('The Best of Me', 5),
 ('The Big Short', 33),
 ('The Christmas Secret', 1),
 ("The Crow's Nest", 1),
 ('The Divine Move', 2),
 ('The Fault in Our Stars', 111),
 ('The Green Prince', 1),
 ('The Humbling', 2),
 ('The Hunger Games: Mockingjay - Part 2', 65),
 ('The Imitation Game', 677),
 ('The Little Death', 9),
 ('The Little Rascals Save the Day', 1),
 ('The Mend', 1),
 ('The Price of Gold', 2),
 ('The Treasure', 1),
 ('The Unexpected Love', 1),
 ('The Vatican Tapes', 1),
 ('The Voices', 21),
 ('The Wonders', 1),
 ('Time Out of Mind', 1),
 ('Transformers: Age of Extinction', 69),
 ('Turks & Caicos', 2),
 ('Unexpected', 2),
 ('V/H/S: Viral', 4),
 ('Victor Frankenstein', 3),
 ('Viy', 1),
 ('Wanderers', 3),
 ('Web Junkie', 1),
 ('Welcome to Leith', 2),
 ('Whitey: United States of America v. James J. Bulger', 1),
 ('Wild Card', 5),
 ('Wild Tales', 68)]

In [62]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, item3, numtrans);
insert into Frequent
select T1.item, T2.item, T3.item, count()
from Movies T1, Movies T2, Movies T3
where T1.TID = T2.TID
and T2.TID = T3.TID
and T1.item < T2.item
and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support;


select * from Frequent;

 * sqlite://
Done.
Done.
14 rows affected.
Done.

[('Big Hero 6', 'Boyhood', 'Gone Girl', 56),
 ('Big Hero 6', 'Boyhood', 'The Imitation Game', 57),
 ('Big Hero 6', 'Fury', 'Gone Girl', 43),
 ('Big Hero 6', 'Fury', 'The Imitation Game', 44),
 ('Big Hero 6', 'Gone Girl', 'Inside Out', 85),
 ('Big Hero 6', 'Gone Girl', 'The Imitation Game', 119),
 ('Big Hero 6', 'Inside Out', 'The Imitation Game', 102),
 ('Boyhood', 'Fury', 'Gone Girl', 43),
 ('Boyhood', 'Fury', 'The Imitation Game', 43),
 ('Boyhood', 'Gone Girl', 'Inside Out', 54),
 ('Boyhood', 'Gone Girl', 'The Imitation Game', 95),
 ('Boyhood', 'Inside Out', 'The Imitation Game', 52),
 ('Fury', 'Gone Girl', 'The Imitation Game', 70),
 ('Gone Girl', 'Inside Out', 'The Imitation Game', 103)]

In [64]:
%%sql
select F.item1 || ' | ' || F.item2 || ' | ' || F.item3 || ' -> ' || T4.item as rule,
       (1.0 * count() / F.numtrans) / (I.numtrans * 1.0 / (select count(distinct TID) from Movies)) as lift
from Frequent F, Movies T1, Movies T2, Movies T3, Movies T4, ItemFreq I
where T1.item = F.item1
and T2.item = F.item2
and T3.item = F.item3
and T1.TID = T2.TID
and T2.TID = T3.TID
and T3.TID = T4.TID
and T4.item not in (F.item1, F.item2, F.item3)
and I.item = T4.item
group by F.item1, F.item2, F.item3, T4.item, I.numtrans
having lift > 20
order by lift desc;

 * sqlite://
Done.

[('Big Hero 6 | Fury | Gone Girl -> Far from Men', 32.139534883720934),
 ('Big Hero 6 | Fury | Gone Girl -> Flowers in the Attic', 32.139534883720934),
 ("Big Hero 6 | Fury | Gone Girl -> I'll See You in My Dreams", 32.139534883720934),
 ('Big Hero 6 | Fury | Gone Girl -> Outcast', 32.139534883720934),
 ('Big Hero 6 | Fury | Gone Girl -> The Humbling', 32.139534883720934),
 ('Big Hero 6 | Fury | Gone Girl -> Time Out of Mind', 32.139534883720934),
 ('Big Hero 6 | Fury | Gone Girl -> Whitey: United States of America v. James J. Bulger', 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> Catch Hell', 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> Far from Men', 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> Flowers in the Attic', 32.139534883720934),
 ("Boyhood | Fury | Gone Girl -> I'll See You in My Dreams", 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> Outcast', 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> The Humbling', 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> Time Out of Mind', 32.139534883720934),
 ('Boyhood | Fury | Gone Girl -> Whitey: United States of America v. James J. Bulger', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Aziz Ansari: Live at Madison Square Garden', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Catch Hell', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Far from Men', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Flowers in the Attic', 32.139534883720934),
 ("Boyhood | Fury | The Imitation Game -> I'll See You in My Dreams", 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Outcast', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> The Humbling', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Time Out of Mind', 32.139534883720934),
 ('Boyhood | Fury | The Imitation Game -> Whitey: United States of America v. James J. Bulger', 32.139534883720934),
 ('Big Hero 6 | Fury | The Imitation Game -> Aziz Ansari: Live at Madison Square Garden', 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> Far from Men', 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> Flowers in the Attic', 31.409090909090914),
 ("Big Hero 6 | Fury | The Imitation Game -> I'll See You in My Dreams", 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> Outcast', 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> The Humbling', 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> The Little Rascals Save the Day', 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> Time Out of Mind', 31.409090909090914),
 ('Big Hero 6 | Fury | The Imitation Game -> Whitey: United States of America v. James J. Bulger', 31.409090909090914),
 ('Boyhood | Inside Out | The Imitation Game -> Action Jackson', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Bears', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Breathe', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Catch Hell', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Court', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Far from Men', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Flowers in the Attic', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Grandma', 26.57692307692308),
 ("Boyhood | Inside Out | The Imitation Game -> I'll See You in My Dreams", 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Outcast', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> The Humbling', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> The Wonders', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Time Out of Mind', 26.57692307692308),
 ('Boyhood | Inside Out | The Imitation Game -> Whitey: United States of America v. James J. Bulger', 26.57692307692308),
 ('Boyhood | Gone Girl | Inside Out -> Action Jackson', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Blind', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Breathe', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Catch Hell', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Court', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Far from Men', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Flowers in the Attic', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Grandma', 25.59259259259259),
 ("Boyhood | Gone Girl | Inside Out -> I'll See You in My Dreams", 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Outcast', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> The Humbling', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> The Wonders', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Time Out of Mind', 25.59259259259259),
 ('Boyhood | Gone Girl | Inside Out -> Whitey: United States of America v. James J. Bulger', 25.59259259259259),
 ('Big Hero 6 | Boyhood | Gone Girl -> Action Jackson', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Breathe', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Court', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Far from Men', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Flowers in the Attic', 24.67857142857143),
 ("Big Hero 6 | Boyhood | Gone Girl -> I'll See You in My Dreams", 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Outcast', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> The Humbling', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> The Wonders', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Time Out of Mind', 24.67857142857143),
 ('Big Hero 6 | Boyhood | Gone Girl -> Whitey: United States of America v. James J. Bulger', 24.67857142857143),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Action Jackson', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Aziz Ansari: Live at Madison Square Garden', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Breathe', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Court', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Far from Men', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Flowers in the Attic', 24.24561403508772),
 ("Big Hero 6 | Boyhood | The Imitation Game -> I'll See You in My Dreams", 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Love Me', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Outcast', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> The Humbling', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> The Wonders', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Time Out of Mind', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Whitey: United States of America v. James J. Bulger', 24.24561403508772),
 ('Big Hero 6 | Boyhood | The Imitation Game -> Strangerland', 24.245614035087716)]